@font-face {
  font-family: BebasNeue;
  src: url(/assets/fonts/BebasNeue.ttf);
}
@font-face {
  font-family: IndieFlower;
  src: url(/assets/fonts/IndieFlower.ttf);
}

@font-face {
  font-family: SupermercadoOne;
  src: url(/assets/fonts/SupermercadoOne.ttf);
}

@font-face {
  font-family: UbuntuCondensed;
  src: url(/assets/fonts/UbuntuCondensed.ttf);
}

/* * {
  outline: 1px solid red;
} */

html {
  scroll-behavior: smooth;
}

/* Top navigaton bar */
body {
  margin: 0;
  font-family: UbuntuCondensed;
}

.container {
  width: 100%;
}

.topnav {
  font-family: BebasNeue;
  overflow: hidden;
  background-color: rgb(255, 255, 255);
}

.topnav a {
  float: right;
  color: #ffffff;
  text-align: center;
  padding: 9px 8px;
  border-radius: 15;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: rgb(133, 146, 72);
  color: rgb(162, 243, 203);
}

/* For Sticky navbar */

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

.sticky + .content {
  padding-top: 60px;
}

/* For ScrollToPage */
#navbar {
  overflow: hidden;
  background-color: #2f3e46;
}

.section {
  padding-top: 5vh;
  padding-left: 5vw;
  padding-right: 5vw;
  height: 100vh;
}

.column {
  column-count: 2;
  column-rule-color: rgb(0, 0, 0);
  column-gap: 40px;
  column-rule-style: solid;
}

#contactme {
  background: #cad2c5;
  text-align: center;
}

#contactme_form {
  margin-left: auto;
  margin-right: auto;
  width: fit-content;
  padding: 10px;
}

.contactme_form_input {
  padding: 5px;
  
}
.contactme_form_input input {
  height: 30px;
  width: 300px;
  border-radius: 8px;
  padding-right: 8px;
  padding-left: 8px;
}
.contactme_form_input textarea {
  resize: none;
  height: 119px;
  width: 303px;
  border-radius: 8px;
  padding-right: 8px;
  padding-left: 8px;
}
#contactme_submit {
  margin: 20px;
}
#contactme_submit input[type="text"] {
  width: 20px;
  height: 20px;
}
#contactme_submit input[type="button"] {
  margin: 10px;
  width: 100px;
  height: 200px;
  border-radius: 5px;
}
#contactme_submit p {
  margin-top: 2px;
  margin-bottom: 2px;
}
#contactme_social img {
  width: 30px;
  height: 30px;
  margin: 5px;
  float: none;
  padding-left: 5px;
}
#contactme_social p {
  margin: 0;
}
.center {
  text-align: center;
  padding-top: 20px;
}

#education {
  text-align: center;
  background: #84a98c;
}

hr.line {
  border: 1px solid #2f3e46;
}

p.year {
  font-style: italic;
}

h1 {
  font-family: SupermercadoOne;
  text-align: center;
}

h4 {
  font-family: SupermercadoOne;
}

#about {
  font-family: UbuntuCondensed;
  background: #52796f;
}

#home {
  color: rgb(162, 243, 203);
  background: #354f52;
}

#home_content {
  margin-top: 150px;
}

#home_content_image {
  float: left;
  padding: 20px;
}

#home_content_image img {
  width: 250px;
  border-radius: 50%;
}

#home_content_name {
  font-family: "BebasNeue", sans-serif;
  font-size: 5em;
  float: right;
  padding: 20px;
}

.paragraph {
  font-family: UbuntuCondensed;
  line-height: 30px;
}
