@font-face {
  font-family: BebasNeue;
  src: url(/assets/fonts/BebasNeue.ttf);
}
@font-face {
  font-family: IndieFlower;
  src: url(/assets/fonts/IndieFlower.ttf);
}

@font-face {
  font-family: SupermercadoOne;
  src: url(/assets/fonts/SupermercadoOne.ttf);
}

/* Top navigaton bar */
body {
  margin: 0;
  font-family: BebasNeue, IndieFlower;
}

.container {
  width: 100%;
}

.topnav {
  overflow: hidden;
  background-color: rgb(255, 255, 255);
}

.topnav a {
  float: right;
  color: #ffffff;
  text-align: center;
  padding: 9px 8px;
  border-radius: 15;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: rgb(133, 146, 72);
  color: rgb(162, 243, 203);
}

/* For Sticky navbar */
.content {
  padding: 9px;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

.sticky + .content {
  padding-top: 60px;
}

/* For ScrollToPage */
#navbar {
  overflow: hidden;
  background-color: #2f3e46;
}

#contactme {
  font-family: SupermercadoOne;
  height: 100vh;
  width: 100vw;
  background: #cad2c5;
}

.center {
  text-align: center;
  padding-top: 20px;
}

#education {
  font-family: SupermercadoOne;
  text-align: center;
  height: 100vh;
  width: 100vw;
  background: #84a98c;
}

hr.line {
  border: 1px solid #2f3e46;
}

p.year {
  font-style: italic;
}

h1.headerspace {
  font-family: SupermercadoOne;
  line-height: 2;
  text-align: center;
}

h4.heading4 {
  font-family: SupermercadoOne;
}

#about {
  font-family: UbuntuCondensed;
  padding-left: 50px;
  height: 100vh;
  width: 100vw;
  background: #52796f;
}

.column{
  column-count: 2;
  column-rule-color: rgb(0, 0, 0);
  column-gap: 40px;
  column-rule-style: solid;
  }

#home {
  height: 100vh;
  width: 100vw;
  /* display: flex; */
  color: rgb(162, 243, 203);
  background: #354f52;
  /* background: linear-gradient(to right, #26d0ce, #1a2980); */
}

p.homename {
  font-family: "BebasNeue", sans-serif;
  font-size: 2em;
  padding: 250px 250px;
  margin-left: 500px;
}

p.contents {
  font-family: UbuntuCondensed;
}

/* image */
img {
  width: 250px;
  border-radius: 50%;
  overflow: hidden;
  margin-left: 250px;
  margin-right: 50px;
  margin-top: 150px;
  float: left;
}
